<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polimi.dima.watchdog"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" /> 
	<uses-permission android:name="android.permission.READ_SMS" /> 
	<uses-permission android:name="android.permission.RECEIVE_SMS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" 
	    			 android:maxSdkVersion="18"/> <!-- Perché 18 e non 19 ???? -->
    

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver android:name="it.polimi.dima.watchdog.sms.commands.SMSCommandHandler" >
            <intent-filter android:priority="10" >
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data 
                    android:host="*" 
                    android:scheme="sms" 
                 	android:port="9999" />
            </intent-filter>
        </receiver>
        <!-- INIZIO PARTE PROBABILMENTE INUTILE -->
        <receiver android:name="it.polimi.dima.watchdog.sms.ecdh.SMSKeyExchangeHandler" >
            <intent-filter android:priority="10" >
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data 
                    android:host="*" 
                    android:scheme="sms" 
                 	android:port="111" />
            </intent-filter>
        </receiver>
        <!-- FINE PARTE PROBABILMENTE INUTILE -->
        <!-- TODO RICORDARSI DI AGGIUNGERE IL RICEVITORE DEL SALE CHE SERVE A GENERARE LA PASSWORD DELL'AES
        	 SULLA PORTA 7777 -->
        <receiver android:name="it.polimi.dima.watchdog.sms.socialistMillionaire.SMSPublicKeyHandler" >
            <intent-filter android:priority="10" >
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />
                <data
                    android:host="*"
                    android:port="999"
                    android:scheme="sms" />
            </intent-filter>
        </receiver>

        <activity
            android:name="it.polimi.dima.watchdog.activities.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.InitializationWizardActivity"
            android:theme="@style/Theme.AppCompat.Light" >
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.SettingsActivity"
            android:theme="@style/Theme.AppCompat.Light" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="it.polimi.dima.watchdog.activities.MainActivity" />
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.AssociateNumberActivity"
            android:theme="@style/Theme.AppCompat.Light" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="it.polimi.dima.watchdog.activities.SettingsActivity" />
        </activity>
        
    </application>

</manifest>