<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.polimi.dima.watchdog"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBSmivaEV1tTGrBDvK-RRD8gdv4c_Nckio" />

        <receiver android:name="it.polimi.dima.watchdog.sms.commands.SMSCommandHandler" >
            <intent-filter android:priority="10" >
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data
                    android:host="*"
                    android:port="9999"
                    android:scheme="sms" />
            </intent-filter>
        </receiver>
        <receiver android:name="it.polimi.dima.watchdog.sms.socialistMillionaire.SMSPublicKeyHandler" >
            <intent-filter android:priority="10" >
                <action android:name="android.intent.action.DATA_SMS_RECEIVED" />

                <data
                    android:host="*"
                    android:port="999"
                    android:scheme="sms" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="it.polimi.dima.watchdog.sms.timeout.TimeoutManagement"
            android:process=".remote" >
        </receiver>

        <service
            android:name="it.polimi.dima.watchdog.siren.SirenService"
            android:enabled="true" />

        <activity
            android:name="it.polimi.dima.watchdog.activities.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.InitializationWizardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.dima.watchdog.activities.MainActivity" />
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.PendingRequestsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.dima.watchdog.activities.MainActivity" />
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.MyMapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.dima.watchdog.activities.MainActivity" />
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.AssociateNumberActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.dima.watchdog.activities.MainActivity" />
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.DeassociationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="it.polimi.dima.watchdog.activities.MainActivity" />
        </activity>
        <activity
            android:name="it.polimi.dima.watchdog.activities.WelcomeScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        </activity>
    </application>

</manifest>